.hero {
    background-image: url("sfondo-immagine.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
    color: #fff;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
